# Introduction
---
This workshop introduces the RiverMeadow Workload Mobility Platform and its capabilities to help organizations migrate, optimize, and modernize workloads to {{ cloud_name }}.

### Duration
The workshop is expected to last ninety (90) minutes in duration.

### Audience

This workshop is intended for anyone looking to migrate workloads from on-premises hypervisors or public clouds to {{ cloud_name }}.

### Prerequisites

The following prerequisites should be met by the attendees prior to the workshop:

* Basic understanding of {{ cloud_name }} services and architecture