# Networking Ports and Protocols
---

## General Ports and Protocols
The following table details the network ports and protocols that are required for all migrations:

|     Name                             |     Description                                                                                     |     Source                 |     Target                 |     Port/Protocol    |
|-------------------|-----------------------------------|----------------------------|----------------------------|----------------------|
| **RiverMeadow Platform Access**    |     UI and API access to the RiverMeadow   SaaS platform |     Admin Workstation      |     RiverMeadow SaaS       |     443/TCP |
| **Migration Appliance Orchestration** |     Orchestration   communication between the migration appliance and SaaS platform |     Migration Appliance    |     RiverMeadow SaaS | 443/TCP |
| **Target Worker Orchestration** | Orchestration communication between target workers and the associated migration appliance |  Target Worker | Migration Appliance | 443/TCP |
| **Migration Appliance API Access** | API communication between the target workers and the associated migration appliance|  Target Worker | Migration Appliance | 8888/TCP |

## OS Based (Agent) Migration Ports and Protocols
The following table details the network ports and protocols that are required for OS based migrations in addition to the general platform ports and protocols:

| Name                            | Description          | Source                     | Target                           | Port/Protocol   |
|---------------------------------|----------------------|----------------------------|-------------------------|-----------------|
|  **Migration Data Transfer** |     Data Transfer    |      Target Worker      |     Source Workload              |     5994/TCP    |
|  **Windows Agent Installation (OPTIONAL)**  |Automated agent installation|     Migration Appliance    |     Source Workload (Windows)    |     445/TCP     |
|  **Windows Agent Installation (OPTIONAL)**  |Automated agent installation|     Migration Appliance    |     Source Workload (Windows)    |     5985/TCP     |
|  **Linux Agent Installation (OPTIONAL)**    | Automated agent installation |     Migration Appliance    |     Source Workload (Linux)      |     22/TCP      |


## VM Based (Agentless) Migration Ports and Protocols
The following table details the network ports and protocols that are required for VM based migrations in addition to the ports:

|     Name                   |     Description      |     Source                      |     Target                     |     Port/Protocol    |
|----------------------------|----------------------|---------------------------------|--------------------------------|----------------------|
| **vCenter API Access**         |     API Access             |      Migration Appliance     |     VMware vCenter Server      |     443/TCP          |
|  **Data Transfer** |     Data Transfer    |      Migration Appliance     |      Source Worker Appliance |     5994/TCP         |
|  **Data Transfer** |     Data Transfer    |      Target Worker           |      Source Worker Appliance|     5994/TCP         |
| **Orchestration** |     Orchestration    |      Target Worker           |      Migration Appliance  |     443/TCP         |
|  **API Communication** |API communication|  Target Worker |      Migration Appliance    |     8888/TCP         |
|  **Log Aggregation** |API communication|  Target Worker |      Migration Appliance    |     8080/TCP         |
|  **API Communication** |API communication|  Source Worker Appliance |      Migration Appliance    |     8888/TCP         |
| **vCenter API Access** |     API Access             |      Source Worker Appliance |     VMware vCenter Server      |     443/TCP          |
| **VMware Network Copy** |     NBDSSL Transport |      Source Worker Appliance |     VMware ESXi Hosts          |     902/TCP          |
