# Migration Appliance
---
{% if type == "public_cloud" %}
The RiverMeadow migration appliance is deployed into the target cloud account from the RiverMeadow SaaS platform using privileges granted to the RiverMeadow SaaS platform.
{% else %}
The RiverMeadow migration appliance is manually deployed on the target hypervisor.
{% endif %}

{% if cloud_code == "aws" %}
The migration appliance is based on an Oracle Enterprise Linux (OEL) AMI that is shared from the RiverMeadow AWS account.

# Hardware Requirements
The migration appliance is deployed using a t3.large instance type within the target AWS account.

# Appliance Deployment

Browse to the RiverMeadow portal (https://migrate.rivermeadow.com) in a web browser.
![](/img/rivermeadow_login_page.png)


![](/img/rivermeadow_dashboard.png)


{% endif %}

{% if cloud_code == "azure" %}
{% endif %}

{% if cloud_code == "openshift" %}
OpenShift CLoud

Download the QCOW2 image
1. 
2. Copy the ConfigMap
3. Create the RiverMeadow cloud account
{% endif %}


{% if cloud_code == "vme" %}
The RiverMeadow migration appliance is bundled as a QCOW2 image files that is deployed onto an HPE VM Essentials cluster running in the target environment. The appliance is running a hardened version of Oracle Enterprise Linux (OEL) 9.

## Hardware Requirements
**CPU:** 4 Cores
**Memory:** 16 GB
**Disk Space:** 32 GB
{% endif %}