# Migration Profiles
---
The migration profile defines the plan or configuration for migrating a workload from the source environment to the target environment.

### Placement Settings

{% if cloud_code == "aws" %}

![](/img/rivermeadow_migration_profile_aws.png)

* **Region**: The region where the migrated workload will be 
* **Instance Type**:
* **Tenancy**:
* **Instance Tags**:
* **Volume Type**:
* **VPC**:
* **Subnet**:

{% endif %}

### Optimization Settings

* **NetBIOS Name**: The region where the migrated workload will be 
* **KMS Activation**: The region where the migrated workload will be 
* **Sysprep**: The region where the migrated workload will be 
* **Storage Rightsizing**:
* **Migration Extension**:

### Modernization Settings

* **OS Modernization**: The region where the migrated workload will be 
* **SQL Modernization**:

### Security Settings

{% if cloud_code == "aws" %}
* **Enable Disk Encryption**: The region where the migrated workload will be 
* **Security Groups**:
* **IAM Role**:
* **Enable OS Hardening**:
{% endif %}

### Advanced Settings
