# Summary
---
Congratulations on completing this introduction to the RiverMeadow workload mobility platform. 
Throughout this workshop, you've gained comprehensive knowledge of RiverMeadow's core functionalities. 
You learned how to create a RiverMeadow instance, configure security settings, manage users and permissions, and establish essential operational parameters such as business hours and queues. The Agent Experience section equipped you with skills to configure agent workspaces, set up the Contact Control Panel (CCP), manage routing profiles, and implement agent hierarchies—all crucial elements for enabling effective customer service.

